:root {
  --backColor: rgb(253, 79, 79);
}

.progress-bar {
  width: 100%;
  background: repeating-linear-gradient(
      -45deg,
      var(--backColor),
      var(--backColor) 25%,
      rgba(var(--backColor), 0.9) 25%,
      rgba(var(--backColor), 0.9) 50%,
      var(--backColor) 50%
    )
    top left fixed;
  background-size: 30px 30px;
}

.progress-bar__inner {
  border: 2px solid rgb(253, 79, 79);
  border-right: 2px solid white;
  transition: width 1s ease-in-out;
  width: 25%;
  animation: width 5s infinite;
  background: repeating-linear-gradient(
      -45deg,
      var(--backColor),
      var(--backColor) 25%,
      rgba(var(--backColor), 0.9) 25%,
      rgba(var(--backColor), 0.9) 50%,
      var(--backColor) 50%
    )
    top left fixed;
  background-size: 30px 30px;
}
