.statcard__stat {
  margin: 0;
  padding: 0;
  width: fit-content;
  border-bottom: 2px solid rgb(253, 79, 79);
}

.statcard__label {
  float: left;
  margin: 0px;
}

.statcard__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
