#root {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important;
}

body {
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.start-button {
  width: 100%;
  background-color: rgb(253, 79, 79);
  color: white;
}

.start-button:hover {
  color: #213547;
  background-color: rgb(253, 79, 79);
  border: 1px solid white;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.webcam {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.canvas {
  position: relative;
}

.footer {
  width: 100%;
  background: #f0ead6;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.header {
  background: #f0ead6;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.showmore {
  text-align: start;
  text-decoration: underline;
  text-decoration-color: rgb(253, 79, 79);
  cursor: pointer;
}

.showmore:hover {
  color: rgb(253, 79, 79);
}

.header h1,
h2 {
  margin: 0px;
  padding: 2rem;
  text-align: center;
}
.header h2 {
  margin: 0px;
  padding: 2rem;
}

.video-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  contain: content;
  float: left;
}

.midsection {
  display: flex;
  background-color: #213547;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  height: 83vh;
}

.dashboard {
  color: white;
  display: flex;
  background-color: #213547;
  float: right;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0rem 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.calibrating {
  border-top: 5px solid #213547;
}

.card {
  border: 2px solid rgb(253, 79, 79);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.center {
  justify-content: center;
  transition: justify-content 0.5s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .midsection {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .video-container {
    justify-content: center;
  }
  .start-button {
    height: 80px;
    margin: 1rem;
  }
  .dashboard {
    overflow-y: hidden;
    height: auto;
  }
  .dashboard .card {
    width: 60%;
  }
}
